@import '../variables';

.project-wrapper {
	justify-self: center;

	.project-card {
		position: relative;
		transition: 200ms;
		width: 230px;
		height: 200px;

		.project-screen {
			position: absolute;
			max-width: 200px;
			transition: all 200ms ease-in-out;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			user-select: none;
			-moz-user-drag: none;
			-khtml-user-drag: none;
			-webkit-user-drag: none;
		}

		#card-1 {
			top: 10px;
			left: 5px;
			z-index: 5;
			transform: rotate(-5deg);
		}

		#card-2 {
			top: 19px;
			left: 14px;
			z-index: 6;
			transform: rotate(3deg);
		}

		#card-3 {
			top: 25px;
			left: 15px;
			z-index: 7;
			transform: rotate(-3deg);
		}

		#card-4 {
			top: 23px;
			left: 23px;
			z-index: 8;
			transform: rotate(9deg);
		}
	}

	.links-wrapper {
		display: flex;
		justify-content: space-around;
		font-size: 20px;
		font-size: 30px;
	}

	:hover > #card-1 {
		transform: translate(-45%, -45%) rotate(-8deg);
	}

	:hover > #card-2 {
		transform: translate(-45%, 45%) rotate(-5deg);
	}

	:hover > #card-3 {
		transform: translate(45%, -45%) rotate(6deg);
	}

	:hover > #card-4 {
		transform: translate(45%, 45%) rotate(-6deg);
	}
}
