$main-font-family: 'Fira Sans', sans-serif;
$main-background-color: #383a3d;
$main-font-color: #d7cfcd;
$alt-font-color: #4f687f;
$link-hover-color: #aaaaaa;
$borders-color: #ffffff;
$svg-main-color: #d7cfcd;
$btn-bg-color: #fdca90;
$btn-font-color: #383a3d;
$btn-border-color: #383a3d;
$btn-box-shadow-color: #00000075;
