$main-font-family: 'Fira Sans', sans-serif;
$nav-background-color: #292a2c;
$main-font-color: #d7cfcd;
$alt-font-color: #4f687f;
$link-hover-color: #aaaaaa;
$welcome-sign-background-color: #2a2a2b;
$borders-color: #ffffff;
$svg-main-color: #cacaca;
$btn-bg-color: #fdca90;
