$main-font-family: 'Fira Sans', sans-serif;
$nav-background-color: #292a2c;
$main-font-color: #ffffff;
$link-hover-color: #aaaaaa;
$welcome-sign-background-color: #2a2a2b;
$tech-stack-bg-color: #c0c0c0b4;
$borders-color: #ffffff;
$svg-main-color: #cacaca;
