@import './variables';

.section {
	margin: 0 0 100px 0;

	&.projects {
		.gallery {
			display: grid;
			grid-template-columns: repeat(2, 300px);
			grid-template-rows: repeat(2, 250px);

			.project-container {
				justify-self: center;
				width: 230px;
				height: 200px;
			}
		}
	}
}

@media (max-width: 900px) {
	.section {
		&.projects {
			.gallery {
				grid-template-columns: 300px;
			}
		}
	}
}
