@import './variables';

.section {
	margin: 0 0 100px 0;

	&.about-me {
		.cv-download-btn {
			background-color: $tech-stack-bg-color;
			border: 1px solid $borders-color;
			padding: 10px 15px;
			border-radius: 20px;
			box-shadow: -8px 11px 20px -1px rgba(0, 0, 0, 0.46);
			-webkit-box-shadow: -8px 11px 20px -1px rgba(0, 0, 0, 0.46);
			-moz-box-shadow: -8px 11px 20px -1px rgba(0, 0, 0, 0.46);

			&:active {
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75) inset;
				-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75) inset;
				-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75) inset;
			}
		}
	}

	&.projects {
		text-align: justify;
		.gallery {
			display: grid;
			grid-template-columns: repeat(2, 300px);
			grid-template-rows: repeat(2, 400px);

			.project-container {
				justify-self: center;
				width: 230px;
				height: 200px;

				.project-title {
					margin: 0 0 10px 0;
					font-size: 18px;
				}

				.project-description {
					margin: 0;
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.section {
		&.projects {
			.gallery {
				grid-template-columns: 300px;
			}
		}
	}
}
