@import './variables';
@import './mixins';

.section {
	margin: 0 0 130px 0;

	.about-me-paragraph {
		margin: 0 0 50px 0;
	}

	&.technologies {
		margin: 0 0 50px 0;
	}

	&.projects {
		.projects-foreword {
			margin: 0 0 70px 0;
		}
		.gallery {
			display: grid;
			grid-template-columns: 290px;
			grid-template-rows: repeat(4, 470px);

			.project-container {
				justify-self: center;
				align-self: flex-start;
				max-width: 290px;
				height: 200px;
				display: grid;
				grid-template-columns: 260px;
				grid-template-rows: 250px 50px 160px;

				.project-title {
					margin: 0 0 10px 0;
					font-size: 20px;
					grid-row: 2/3;
					justify-self: center;
				}

				.project-description {
					margin: 0;
					font-size: 17px;
					grid-row: 3/4;
				}
			}

			@include forMobile {
				grid-template-columns: 390px;
				grid-template-rows: repeat(4, 320px);

				.project-container {
					justify-self: left;
					align-self: flex-start;
					grid-template-columns: 245px 145px;
					grid-template-rows: 50px 350px;

					.project-title {
						grid-column: 2/3;
						grid-row: 1/2;
						justify-self: left;
						margin: 0;
					}

					.project-description {
						grid-column: 2/3;
						grid-row: 2/3;
						margin: 0;
					}
				}

				@include forBiggerMobile {
					grid-template-columns: 450px;
					grid-template-rows: repeat(4, 320px);

					.project-container {
						grid-template-columns: 250px 200px;
					}
				}

				@include forTablet {
					.project-container {
						justify-self: stretch;
						align-self: center;
						grid-template-columns: 350px 280px;
					}
				}

				@include forComputer {
					grid-template-columns: 900px;
					grid-template-rows: repeat(4, 450px);

					.project-container {
						justify-self: stretch;
						grid-template-columns: 400px 500px;
						column-gap: 20px;
					}
				}
			}
		}
	}

	&.contact-form {
		.links-wrapper {
			a {
				@include fluidTypeContainer(35px, 45px);
				margin: 0 20px 0 0;
			}
		}

		.mail-to {
			text-decoration: underline;
		}
	}
}
