@import './variables';
@import './mixins';
.welcome-sign {
	padding: 20px 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
	background-color: $main-background-color;

	.sign-wrapper {
		text-align: center;
		.img-container {
			position: relative;
			max-width: 400px;
			margin: 0 auto;
			.photo {
				max-width: 400px;
				margin-bottom: -4px;
				-moz-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				user-select: none;
				-moz-user-drag: none;
				-khtml-user-drag: none;
				-webkit-user-drag: none;
			}

			.eye-div {
				position: absolute;
				border-radius: 50%;
				width: 38px;
				height: 38px;
				background-color: #fff;

				&.right {
					top: 112px;
					right: 170px;

					.eyeball {
						position: absolute;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #000;
						left: 10px;
						top: 2px;
					}
				}

				&.left {
					top: 117px;
					right: 223px;

					.eyeball {
						transition: 200ms;
						position: absolute;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #000;
						left: 10px;
						top: 2px;
					}
				}
			}
		}
	}

	.title {
		color: $main-font-color;
		background-color: #00000086;
		padding: 10px 15px;
		margin: 0;
		border-radius: 5px;
		border: 1px white solid;
		text-align: center;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		height: 100vh;
		width: 90vw;
	}

	.scroll-sign {
		position: relative;
		margin: 20px 0 0 0;
		width: 10px;
		height: 20px;
		border: 2px solid $borders-color;
		border-radius: 15px;

		&::after {
			content: '';
			height: 4px;
			width: 4px;
			position: absolute;
			border-radius: 50%;
			background-color: #fff;
			z-index: 4;
			left: 50%;
			transform: translate(-50%);
			animation: scrollJump 1.5s linear infinite;
		}
	}
}

@keyframes scrollJump {
	0% {
		top: 15%;
	}

	15% {
		top: 50%;
	}

	50% {
		top: 70%;
	}

	100% {
		top: 15%;
	}
}
